<!DOCTYPE html>
<html lang="es">

<head>
    <title>Contacto</title>
    <script type="text/javascript" src="../static/js/borrar.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
</head>

<body>
    <div class="header-container">
        <h1 id="header">Borrar Contacto</h1>
    </div>
    <div id="contacto-details">
        <p>Email: <span id="email"></span></p>
        <p>Nombre: <span id="nombre"></span></p>
        <p>Teléfono: <span id="telefono"></span></p>
    </div>
    <div class="button-container">
        <button onclick="deleteContact()">Borrar</button>
        <button onclick="goBack()">Regresar</button>
    </div>
</body>

</html>