<!DOCTYPE html>
<html lang="es">

<head>
    <title>Contactos</title>
    <script type="text/javascript" src="../static/js/get_for_email.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
</head>

<body>
    <div class="header-container">
        <h1 id="header">Buscar Contacto</h1>
        <a href="/contactos">Inicio</a>
    </div>

    <form id="search-form">
        <p><label for="email">Email:</label>
        <input type="text" id="email" name="email" /></p>
        <button type="button" onclick="getForEmail(document.getElementById('email').value)">
            Buscar
        </button>
    </form>
    <div id="tabla_contenedor">
        <table id="table_contactos">
            <thead id="thead_contactos">
                <tr>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody id="tbody_contactos"></tbody>
        </table>
    </div>
</body>

</html>