<!DOCTYPE html>
<html lang="es">

<head>
    <title>Contacto</title>
    <script type="text/javascript" src="../static/js/editar.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
</head>

<body>
    <div class="header-container">
        <h1 id="header">Editar Contacto</h1>
    </div>
    <div id="contacto-details">
        <p>Email: <input type="text" id="email" readonly></p>
        <p>Nombre: <input type="text" id="nombre"></p>
        <p>Teléfono: <input type="text" id="telefono"></p>
    </div>
    <div class="button-container">
        <button onclick="editar()">Editar</button>
        <button onclick="goBack()">Regresar</button>
    </div>
</body>

</html>